    <script src="/js/app.js"></script>
    </body>
    <footer class="ubuntu-condensed-regular">
        <% const date = new Date(); %>
        Copyright Madhav @ <%= date.getFullYear() %>
    </footer>
</html>