<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Madhav</title>
    <link
      rel="icon"
      href="/images/titleLogo.png"
      type="icon type"
      class="noBackground"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Anek+Devanagari:wght@100..800&family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=Ubuntu+Condensed&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/stylesheet.css" />
  </head>
  <header>
    <div class="loading">
      <img
        src="/images/shreenathji.png"
        alt="Shreenathji loading image"
        class="loadingImage noBackground"
      />
      <div class="loader"></div>
    </div>
    <div class="headerDiv">
      <div class="headContainer">
        <div class="logoDiv">
          <a href="/" class="logoLink"
            ><img
              src="/images/logo.png"
              alt="logo"
              class="logoImg noBackground"
            />
            <h1 class="heading amita-regular">माधव</h1></a
          >
        </div>
        <div>
          <div class="menu-toggle toggle">
            <div class="hamburger">
              <span></span>
            </div>

            <aside class="sidebar">
              <nav class="menu">
                <a href="/" class="menu-item is-active m-plus-1p-medium"
                  >Home</a
                >
                <a href="#" class="menu-item m-plus-1p-medium">Chapters</a>
                <a href="#" class="menu-item m-plus-1p-medium">Verses</a>
                <a href="" class="menu-item toggle m-plus-1p-medium btn"
                  >Cancel</a
                >
              </nav>
            </aside>
          </div>
          <ul class="headerFunction">
            <li>
              <a href="" class="m-plus-1p-regular listElement">Chapters</a>
            </li>
            <li>
              <a href="" class="m-plus-1p-regular listElement">Verses</a>
            </li>
            <li>
              <a href="/" class="m-plus-1p-regular listElement btn">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <body>
