<%- include('./partials/header.ejs') %>
<div class="chapterHeading m-plus-1p-medium">About Authors</div>
<div class="aboutAuthor">
  <div class="hindiAuthor authorDiv">
    <img
      src="/images/chinmayaSwami.jfif"
      alt="ChinmayaSwami Photo"
      class="authorPhoto"
    />
    <div class="authorName verseTab amita-regular">स्वामी चिन्मयानंद</div>
    <div class="birthDate verseTab">8 May 1916 - 3 August 1993</div>
    <div class="summaryTab hindiSummary authorSummary anek-devanagari">
      स्वामी चिन्मयानन्द ,हिन्दू धर्म और संस्कृति के मूलभूत सिद्धान्त वेदान्त
      दर्शन के एक महान प्रवक्ता थे। उन्होंने सारे भारत में भ्रमण करते हुए देखा
      कि देश में धर्म संबंधी अनेक भ्रांतियां फैली हैं। उनका निवारण कर शुद्ध धर्म
      की स्थापना करने के लिए उन्होंने गीता ज्ञान-यज्ञ प्रारम्भ किया और 1953 ई
      में चिन्मय मिशन की स्थापना की। स्वामी जी के प्रवचन बड़े ही तर्कसंगत और
      प्रेरणादायी होते थे। उनको सुनने के लिए हजारों लोग आने लगे। उन्होंने
      सैकड़ों संन्यासी और ब्रह्मचारी प्रशिक्षित किये। हजारों स्वाध्याय मंडल
      स्थापित किये। बहुत से सामाजिक सेवा के कार्य प्रारम्भ किये, जैसे विद्यालय,
      अस्पताल आदि। स्वामी जी ने उपनिषद्, गीता और आदि शंकराचार्य के 35 से अधिक
      ग्रंथों पर व्याख्यायें लिखीं। गीता पर लिखा उनका भाष्य सर्वोत्तम माना जाता
      है।
    </div>
  </div>
  <div class="EnglishAuthor authorDiv">
    <img
      src="/images/Purohit_swami.webp"
      alt="Purohit swami Photo"
      class="authorPhoto"
    />
    <div class="authorName verseTab ubuntu-condensed-regular">
      Shri Purohit Swami
    </div>
    <div class="birthDate verseTab">12 October 1882 - 1941</div>
    <div class="summaryTab englishSummary authorSummary m-plus-1p-medium">
      Purohit was born Shankar Gajannan Purohit in Badnera, then in British
      India's Bombay Presidency, to a wealthy Marathi Brahmin family. As a child
      he became proficient in Marathi, English, and Sanskrit. He was well
      educated, obtaining a B.A. in philosophy at Calcutta University in 1903
      and a law degree from Deccan College and Bombay University. In 1923 his
      guru directed him to embark on a mendicant pilgrimage the length and
      breadth of India. Begging bowl in hand, he passed several years in this
      way. He travelled to Europe on an extended visit in 1930.
    </div>
  </div>
</div>
<script src="/js/app.js"></script>
<%- include('./partials/footer.ejs') %>
