<%- include('./partials/header.ejs') %>
<div class="quoteBox">
  <h2 class="quote ubuntu-condensed-regular">
    “Man is made by his belief. As he believes, so he is.”<br />
    <div class="quoteWriterB amita-regular orange">- भागवद गीता</div>
  </h2>
</div>

<div class="quoteBox">
  <h2 class="quote ubuntu-condensed-regular">
    "Whenever dharma declines and the purpose of life is
    <span class="orange">forgotten</span>, I manifest myself on earth. I am born
    in every age to protect the <span class="orange">good</span>, to destroy
    evil, and to reestablish <span class="orange">dharma</span>."<br />
    <div class="quoteWriter amita-regular orange">- माधव</div>
  </h2>
</div>
<div class="chapterDiv">
  <div class="chapterHeading m-plus-1p-medium">Chapter Summary</div>
  <div class="chapterImagesContainer">
    <ul class="imageBox">
      <li class="chapterImageDiv">
        <a href="/chapters/1/hindi" class="chapterLink">
          <img src="./images/1.png" alt="chapter 1" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/2/hindi" class="chapterLink">
          <img src="./images/2.png" alt="chapter 2" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/3/hindi" class="chapterLink">
          <img src="./images/3.png" alt="chapter 3" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/4/hindi" class="chapterLink">
          <img src="./images/4.png" alt="chapter 4" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/5/hindi" class="chapterLink">
          <img src="./images/5.png" alt="chapter 5" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/6/hindi" class="chapterLink">
          <img src="./images/6.png" alt="chapter 6" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/7/hindi" class="chapterLink">
          <img src="./images/7.png" alt="chapter 7" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/8/hindi" class="chapterLink">
          <img src="./images/8.png" alt="chapter 8" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/9/hindi" class="chapterLink">
          <img src="./images/9.png" alt="chapter 9" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/10/hindi" class="chapterLink">
          <img src="./images/10.png" alt="chapter 10" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/11/hindi" class="chapterLink">
          <img src="./images/11.png" alt="chapter 11" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/12/hindi" class="chapterLink">
          <img src="./images/12.png" alt="chapter 12" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/13/hindi" class="chapterLink">
          <img src="./images/13.png" alt="chapter 13" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/14/hindi" class="chapterLink">
          <img src="./images/14.png" alt="chapter 14" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/15/hindi" class="chapterLink">
          <img src="./images/15.png" alt="chapter 15" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/16/hindi" class="chapterLink">
          <img src="./images/16.png" alt="chapter 16" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/17/hindi" class="chapterLink">
          <img src="./images/17.png" alt="chapter 17" class="chapterImg" />
        </a>
      </li>
      <li class="chapterImageDiv">
        <a href="/chapters/18/hindi" class="chapterLink">
          <img src="./images/18.png" alt="chapter 18" class="chapterImg" />
        </a>
      </li>
    </ul>
    <div class="scrollBar">
      <input type="range" name="slideBar" id="slideBar" min="1" max="100" value="1" class="slider">
    </div>
  </div>
</div>
<script src="/js/app.js"></script>
<%- include('./partials/footer.ejs') %>
