<%- include('./partials/header.ejs') %>
<div>
  <h2>
    Whenever dharma declines and the purpose of life is forgotten,<br />
    I manifest myself on earth. I am born in every age to protect the good,<br />
    to destroy evil, and to reestablish dharma.
  </h2>
</div>
<%- include('./partials/footer.ejs') %>
