<%- include('./partials/header.ejs') %>
<div class="quoteBox">
  <h2 class="quote ubuntu-condensed-regular">
    "Whenever dharma declines and the purpose of life is
    <span>forgotten</span>, I manifest myself on earth. I am born in every age
    to protect the <span>good</span>, to destroy evil, and to reestablish
    <span>dharma</span>."
  </h2>
</div>
<%- include('./partials/footer.ejs') %>
