<%- include('./partials/header.ejs') %>
<div class="quoteBox">
  <h2 class="quote ubuntu-condensed-regular">
    "Whenever dharma declines and the purpose of life is
    <span class="orange">forgotten</span>, I manifest myself on earth. I am born
    in every age to protect the <span class="orange">good</span>, to destroy
    evil, and to reestablish <span class="orange">dharma</span>."
  </h2>
</div>
<div class="chapterDiv">
  <div class="chapterHeading m-plus-1p-medium">Chapter Summary</div>
  <div class="chapterImagesContainer">
    <ul class="imageBox">
      <li class="chapterImageDiv">
        <img src="./images/1.png" alt="chapter 1" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/2.png" alt="chapter 2" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/3.png" alt="chapter 3" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/4.png" alt="chapter 4" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/5.png" alt="chapter 5" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/6.png" alt="chapter 6" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/7.png" alt="chapter 7" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/8.png" alt="chapter 8" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/9.png" alt="chapter 9" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/10.png" alt="chapter 10" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/11.png" alt="chapter 11" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/12.png" alt="chapter 12" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/13.png" alt="chapter 13" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/14.png" alt="chapter 14" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/15.png" alt="chapter 15" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/16.png" alt="chapter 16" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/17.png" alt="chapter 17" class="chapterImg" />
      </li>
      <li class="chapterImageDiv">
        <img src="./images/18.png" alt="chapter 18" class="chapterImg" />
      </li>
    </ul>
    <div class="scrollBar">
      <div class="scrollBarProgress">
        <div class="progressBar"></div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
