* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5dc;
}

.amita-regular {
  font-family: "Amita", serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-1p-thin {
  font-family: "M PLUS 1p", system-ui;
  font-weight: 100;
  font-style: normal;
}

.m-plus-1p-light {
  font-family: "M PLUS 1p", system-ui;
  font-weight: 300;
  font-style: normal;
}

.m-plus-1p-regular {
  font-family: "M PLUS 1p", system-ui;
  font-weight: 400;
  font-style: normal;
}

.m-plus-1p-medium {
  font-family: "M PLUS 1p", system-ui;
  font-weight: 500;
  font-style: normal;
}
.anek-devanagari {
  font-family: "Anek Devanagari", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.ubuntu-condensed-regular {
  font-family: "Ubuntu Condensed", system-ui;
  font-weight: 400;
  font-style: normal;
}
.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

footer {
  text-align: center;
}
.headContainer {
  width: 100%;
  position: fixed;
  top: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2em solid #00712d;
  background-color: #d5ed9f;
  color: #00712d;
  z-index: 99;
}

.headerFunction {
  display: inline-flex;
  list-style: none;
  justify-self: flex-end;
}

.listElement {
  font-size: 1.4em;
  text-decoration: none;
  color: #000;
  margin-right: 1em;
  color: #00712d;
}
.heading {
  font-size: 2.5em;
  justify-self: flex-end;
  display: flex;
  align-items: center;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loadingImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 2em;
}
.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
.logoImg {
  height: 3em;
  width: auto;
  margin: 1em;
}
.logoDiv {
  display: flex;
}
.logoLink {
  text-decoration: none;
  display: flex;
  color: #00712d;
}
.noBackground {
  mix-blend-mode: multiply;
  background: transparent !important;
}
.menu-toggle {
  display: none;
  position: fixed;
  top: 0.8em;
  right: 1em;
  width: 40px;
  height: 40px;
  margin-right: 1em;
  border-radius: 99px;
  cursor: pointer;
}

.hamburger {
  position: relative;
  margin-top: 0.2em;
  top: calc(50% - 13px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #00712d;
  transition-duration: 0.25s;
}

.hamburger > span::before {
  content: "";
  top: -8px;
}
.hamburger > span::after {
  content: "";
  top: 8px;
}
.sidebar {
  flex: 1 1 0;
  max-width: 5em;
  padding: 2rem 1rem;
  background-color: whitesmoke;
  border-bottom: #00712d solid 0.5em;
}

.sidebar .menu {
  margin: 0 -1rem;
}

.sidebar .menu .menu-item {
  display: block;
  padding: 1em;
  color: #00712d;
  text-decoration: none;
  transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover {
  border-left: 5px solid #00712d;
}
.btn {
  background-color: #00712d;
  color: #fffbe6 !important;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 3em;
  text-align: center;
}
.headerDiv {
  position: relative;
  top: 0px;
  height: 5em;
}
.quoteBox {
  text-align: center;
  background-color: #c1e2a4;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  font-size: 1.2em;
  color: #00712d;
}
.quoteWriter {
  text-align: right !important;
  margin-right: 3rem;
}
.quoteWriterB {
  margin-right: 1rem;
  text-align: right;
}

.chapterDiv {
  display: flex;
  flex-direction: column;
  margin-left: 1.2em;
  margin-right: 1.2em;
  scroll-behavior: smooth;
}
.chapterHeading {
  text-align: center;
  font-size: 2em;
  margin: 1em;
  margin-top: 0.5em;
  color: #00712d;
}
.chapterImagesContainer {
  position: relative;
  background-color: #c1e2a4;
  padding: 1em;
  padding-right: 0.5em;
  padding-left: 2em;
  border-radius: 1em;
  padding-right: 3em;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-drag: none;
  white-space: nowrap;
}
.imageBox {
  display: flex;
  user-select: none;
  overflow-x: hidden;
  -webkit-user-drag: none;
  scroll-behavior: smooth;
}

.chapterImageDiv {
  background-color: wheat;
  margin: 1em;
  padding: 0.3em;
  padding-bottom: 0.2em;
  border-radius: 0.8em;
  list-style: none;
  user-select: none;
  -webkit-user-drag: none;
}
.chapterImageDiv a {
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: none;
}
.chapterImg {
  width: 100%;
  min-width: 230px;
  height: 100%;
  mix-blend-mode: multiply;
  border-radius: 0.65em;
  user-select: none;
  -webkit-user-drag: none;
}
.innerImgDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.innerLogoImg {
  height: auto;
  width: 60%;
  margin-bottom: 1%;
  user-select: none;
  -webkit-user-drag: none;
}
.innerHeading {
  font-size: 3em;
  color: #015c25;
  margin-bottom: 6%;
  user-select: none;
  -webkit-user-drag: none;
}
.innerChapterNumber {
  font-size: 3em;
  color: #ff6600;
  margin-bottom: 6%;
  user-select: none;
  -webkit-user-drag: none;
}
.innerChapterSummary {
  font-size: 1.8em;
  color: #6e9c06;
  margin-bottom: 6%;
  user-select: none;
  -webkit-user-drag: none;
}
.scrollBar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 8px;
}
.slider::-webkit-slider-runnable-track {
  height: 1em;
  background: wheat;
  border-radius: 8px;
}
.slider::-moz-range-track {
  height: 1em;
  background: wheat;
  border-radius: 8px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1em;
  width: 1em;
  background-color: whitesmoke;
  border-radius: 50%;
  border: 2px solid #00712d;
  box-shadow: -600px 0 0 593px #00712d;
}

.slider::-moz-range-thumb {
  height: 1.5em;
  width: 1.5em;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  box-shadow: -407px 0 0 400px #f50;
}
.chapterDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #00712d;
}
.chapterDeatailHeading {
  width: fit-content;
  height: fit-content;
  padding: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin: 0.5em;
  background-color: #d5ed9f;
  font-size: 1.5em;
  border-radius: 50px;
  border: 1px solid #00712d;
}
.chapterName {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 2px;
  padding-left: 0.4em;
  padding-right: 0.4em;
  width: fit-content;
  height: fit-content;
  background-color: #d5ed9f;
  font-size: 1.5em;
  border-radius: 40px;
  border: 1px solid #00712d;
}
.chapterSummaryDiv {
  display: flex;
  justify-content: center;
}
.chapterSummary {
  width: 80%;
}
.langTabDiv {
  display: flex;
  text-decoration: none;
}
.langTabDiv a {
  text-decoration: none;
}
.langTab {
  width: 4em;
  height: 1.5em;
  padding: 0.5em;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  text-align: center;
  text-decoration: none;
  color: #00712d;
  background-color: #d5ed9f;
  border: 1px solid #00712d;
  font-weight: 600;
  border-radius: 10px;
}
.hindi {
  width: 4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-right: 0.7em;
  margin-left: 0.5em;
}
.choosen {
  margin-bottom: 0px;
  height: 70%;
  border-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
}
.summaryTab {
  height: auto;
  padding: 0.8em;
  background-color: #d5ed9f;
  color: #00712d;
  font-size: 1.2em;
  border-radius: 15px;
  border: 1px solid #00712d;
  text-align: center;
  font-weight: 400;
}
.buttonsContainer {
  width: 100%;
  height: 5em;
}
.buttonsDiv {
  position: relative;
  display: flex;
  text-decoration: none;
  width: 100%;
}
.button {
  background-color: #d5ed9f;
  width: 5em;
  height: 3em;
  margin-top: 0.5em;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00712d;
  border: 1px solid #00712d;
}
.previous {
  position: absolute;
  left: 0;
}
.next {
  position: absolute;
  right: 0;
}
.noDecoration {
  text-decoration: none;
}
.verseHeading1 {
  margin-bottom: 0.2em;
}
.verseHeading2 {
  font-size: 1.2em;
  margin-top: 0.2em;
}
.verseTabDiv {
  display: flex;
  justify-content: center;
}
.hindiVerse {
  margin-left: 0px;
}
.verseHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.verseTab {
  text-align: center;
  font-size: 1.7em;
  width: fit-content;
  height: auto;
  background-color: #d5ed9f;
  color: #00712d;
  border: 1px solid #00712d;
  border-radius: 50px;
  margin: 0.5em 0.5em 0 0.5em;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
.verseHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.textTab {
  margin: 0em;
  width: 79%;
  padding: 0.5em 0.1em 0.5em 0.1em;
  border-radius: 10px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.search {
  height: 4em;
  margin-left: 2em;
  display: flex;
  justify-content: center;
}
.searchInput {
  width: 4em;
  height: 1.5em;
  padding: 0.5em;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  border: 1px solid #00712d;
  background-color: #d5ed9f;
  color: #00712d;
  border-radius: 30px 0px 0px 30px;
}
.searchSubmit {
  text-align: center;
  width: 3em;
  height: 2.5em;
  padding: 0.5em;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  background-color: #00712d;
  color: whitesmoke;
  border-radius: 0px 30px 30px 0px;
}
.authorDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authorPhoto {
  height: auto;
  width: 15em;
  border-radius: 50px;
}
.authorSummary {
  margin-top: 0.5em;
  width: 78%;
}
@media screen and (max-width: 600px) {
  .headerFunction {
    display: none;
  }
  .listElement {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .sidebar {
    position: absolute;
    width: 50em;
    top: -300px;
    right: -2em;
    height: auto;
    transition: 0.2s linear;
  }

  .sidebar.is-active {
    top: 0;
    width: 5em;
    position: absolute;
    padding: 2em;
  }
  .chapterImg {
    min-width: 180px;
  }
  .headContainer {
    height: 3em;
  }
  .logoImg {
    height: 2.7em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0em;
  }
  .heading {
    font-size: 1.8em;
  }
  .headerDiv {
    height: 3em;
  }
  .chapterHeading {
    font-size: 1.5em;
  }
  .langTabDiv {
    justify-content: center;
  }
  .hindi {
    margin-left: 0.2em;
  }
  .innerHeading {
    font-size: 2.5em;
    margin-bottom: 3%;
  }
  .innerChapterNumber {
    font-size: 2.5em;
    margin-bottom: 3%;
  }
  .innerChapterSummary {
    font-size: 1.5em;
  }
  .verseHeading1 {
    margin-top: 0.5em;
  }
  .verseHeading2 {
    font-size: 1em;
    margin-top: 0.2em;
  }
  .hindiVerse {
    margin-left: 0px;
  }
  .verseTab {
    font-size: 1.2em;
  }
  .verseHeader {
    justify-content: center;
  }
  .search {
    width: 100%;
    margin: 0;
  }
}
@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}
.orange {
  color: #ff6600;
}
